html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 30px;
  margin: 0;
  font: 20px Georgia, Cambria, "Times New Roman", Times, serif;
  color: #444;
  background-color: white;
  position: relative;
}

#main {
  margin: 0 auto;
  max-width: 700px;
  line-height: 170%;
  margin-bottom: 70px;
}
