<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Untext - Symbolic Editor</title>
  <link rel="stylesheet" type="text/css" href="/css/untext.css">
</head>
<body>
<h1>Untext - Symbolic Editor</h1>
<div id="editor">
  <div id="panel">
  </div>
  <div id="workspace">
    <svg id="string" class="">
    </svg>
  </div>
</div>
<script type="text/javascript" src="/underscore/underscore.js"></script>
<script type="text/javascript" src="/d3/d3.js"></script>
<script type="text/javascript" src="/js/untext.js"></script>
</body>
</html>
