<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Untext - Symbolic Editor</title>
  <link rel="stylesheet" type="text/css" href="/css/untext.css">
</head>
<body>
<h1>{{test}}: Untext - Symbolic Editor</h1>
<div id="editor">
  <div id="panel">
    <div id="the-alphabet" class="symbol-list show-borders">
    </div>
  </div>
  <div id="workspace">
    <div id="the-string" class="symbol-list">
    </div>
    <div id="the-overflow" class="symbol-list show-borders">
    </div>
  </div>
</div>
<script type="text/javascript" src="/jquery/dist/jquery.js"></script>
<script type="text/javascript" src="/underscore/underscore.js"></script>
<script type="text/javascript" src="/js/untext.js"></script>
</body>
</html>
