body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 18px;
  margin-top: 0px;
}

.background {
  fill: #ffffff;
}

.statement .background {
  fill: white;
  stroke: #999999;
}

.statement.under-input text {
  display: none;
}

#text-input {
  position: absolute;
  display: none;
  border: none;
  background: transparent;
  font-size: 14px;
  padding-left: 4px;
  padding-top: 0px;
}

svg#code {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
