body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.camera > .background {
  fill: #ffffff;
}

.symbol rect.top-bar {
  fill: #555;
  opacity: 0.1;
}

.symbol.barrier rect.top-bar {
  opacity: 0.0;
}

.symbol .mouse {
  opacity: 0.0;
}

.token rect.tower {
  fill: #EDF5FF;
}

.token.barrier rect.tower {
  fill: #F8F8F8;
}

.token text {
  text-anchor: middle;
}


.bar rect.background-bar {
  fill: #fafafa;
}


.token.target rect.tower {
  fill: #A0FA2D;
}

.bar.target rect.background-bar {
  fill: #A0FA2D;
  opacity: 0.4;
}

#panel {
  float: left;
  width: 150px;
  min-height: 700px;
  border-right: solid 2px #aaaaaa;
  padding: 10px;
}

#workspace {
  padding: 10px;
  margin-left: 200px;
  margin-right: 20px;
}

svg#string {
  cursor: pointer;
  -moz-box-shadow: 0px 0px 3px 5px #ddd;
  -webkit-box-shadow: 0px 0px 3px 5px #ddd;
  box-shadow: 0px 0px 3px 5px #ddd;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
