body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.camera > .background {
  fill: #ffffff;
}

.bar .top-brace .mid-point {
  fill: none;
}
.bar .top-brace path {
  stroke: #C5DFCB;
}
.token .top-brace .mid-point {
  fill: #E2F3E5;
}
.token .top-brace path {
  stroke: none;
}

.symbol .top-brace path {
  fill: none;
  stroke-width: 1px;
}

.symbol.target-sibling .top-brace .mid-point {
  fill: #5BBD71;
}

.symbol.target-sibling .top-brace path {
  stroke: #5BBD71;
}

.symbol .mouse {
  opacity: 0.0;
}

.token rect.tower {
  fill: none;
}

.token text {
  text-anchor: middle;
}

.token.empty text {
  fill: #aaaaaa;
}

.symbol rect.background {
  opacity: 0.0;
  fill: white;
}

.tower-mode .token rect.tower {
  fill: #ddd;
}

.tower-mode .token.target rect.tower {
  fill: #D3FD9E;
}

.symbol-mode .symbol.target rect.background {
  fill: #A0FA2D;
  opacity: 0.4;
}


#workspace {
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
}

svg#string {
  cursor: pointer;
  -moz-box-shadow: 0px 0px 3px 5px #ddd;
  -webkit-box-shadow: 0px 0px 3px 5px #ddd;
  box-shadow: 0px 0px 3px 5px #ddd;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
