body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.camera > .background {
  fill: #ffffff;
}

.branch .top-brace .mid-point {
  fill: none;
}
.branch .top-brace path {
  stroke: #C5DFCB;
}
.token .top-brace .mid-point {
  fill: #E2F3E5;
}
.token .top-brace path {
  stroke: none;
}

.symbol .top-brace path {
  fill: none;
  stroke-width: 1px;
}

.symbol.target-sibling .top-brace .mid-point {
  fill: #5BBD71;
}

.symbol.target-sibling .top-brace path {
  stroke: #5BBD71;
}

.symbol .mouse {
  opacity: 0.0;
}

.token rect.tower {
  fill: none;
}

.token text {
  text-anchor: middle;
}
.token.reference text {
  font-weight: bold;
}

.token.empty text {
  fill: #aaaaaa;
}

.symbol rect.background {
  opacity: 0.0;
  fill: white;
}

.tower-mode .token rect.tower {
  fill: #ddd;
}

.tower-mode .token.targets rect.tower {
  fill: #D3FD9E;
}

.symbol-mode .symbol.targets rect.background {
  fill: #A0FA2D;
  opacity: 0.4;
}

.tower-mode .token.target rect.tower {
  fill: #D3FD9E;
}

.symbol-mode .symbol.target rect.background {
  fill: #A0FA2D;
  opacity: 0.4;
}

h1 {
  font-size: 18px;
  position: fixed;
  left: 10px;
  top: 10px;
}

svg#string {
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: fixed;
  left: 0px;
  top: 50px;
}
