html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  padding: 0;
  margin: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-color: white;
  position: relative;
}

#grid-container {
  padding: 50px;
}

#grid {
  position: relative;
}

#cells {
}

.cell {
  position: absolute;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.cell .text {
  height: 20px;
  width: 160px;
  text-align: center;
}

.cell .result {
  position: relative;
  box-sizing: content-box;
  width: 160px;
  height: 100px;
  border: solid 4px #ddd;
}

.cell.target .result {
  border-color: #66f;
  margin-top: -2px;
  margin-left: -2px;
  border-width: 6px;
}

.cell.arg .result {
  border-color: #86E086;
  margin-top: -1px;
  margin-left: -1px;
  border-width: 5px;
}

.cell .result-text {
  position: absolute;
  top: 8px;
  right: 8px;
  font-size: 19px;
  color: #4A3579;
}

#areas {
}

.area {
  position: absolute;
  pointer-events: none;
}

.area .corner {
  position: absolute;
  pointer-events: auto;
}

.area .corner.horizontal {
  width: 20px;
  height: 5px;
}

.area .corner.vertical {
  width: 5px;
  height: 20px;
}

#grid-bottom-container {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: white;
  border: solid 1px #ddd;
  border-width: 1px 0 0 0;
}

#grid-bottom {
  margin-top: 5px;
}

#play {
  position: relative;
}

#play-bar {
  height: 20px;
  background-color: #ddd;
}

#play-marker {
  background-color: red;
  position: absolute;
  bottom: 0px;
  width: 4px;
  pointer-events: none;
}

#levels {
  position: fixed;
  right: 30px;
  top: 90px;
}

.level {
  position: absolute;
  right: 0px;
  width: 36px;
  height: 14px;
  border-radius: 10px;
  border: solid 1px #666;
  cursor: pointer;
  background-color: white;
  opacity: 0.9;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
.level.expand-top {
  border-color: #999;
  color: #777;
  text-align: center;
  font-size: 11px;
  line-height: 0.9;
  opacity: 0.5;
}
.level.current {
  background-color: red;
  border-color: red;
}

#canvas {
  position: absolute;
}

#full-screen-text {
  position: fixed;
}
