html {
  margin: 0;
  padding: 0;
}

body {
  padding: 0;
  margin: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-color: white;
  min-height: 3000px;
  position: relative;
}

#grid-container {
  padding: 50px;
}

#grid {
  position: relative;
}

.cell {
  position: absolute;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

.cell .text {
  height: 20px;
  width: 160px;
  text-align: center;
}

.cell .result {
  width: 160px;
  height: 100px;
  border: solid 4px #ddd;
}

.cell.arg-0 .result {
  border-color: #ccf;
}

.cell.arg-2 .result,
.cell.arg-4 .result,
.cell.arg-6 .result,
.cell.arg-8 .result {
  border-color: #cec;
}

.cell.target .result {
  border-color: #000;
}

#canvas {
  position: absolute;
}

#full-screen-text {
  position: fixed;
}
