#autocomplete {
  position: absolute;
  left: 60px;
  width: 300px;
  display: none;
  background-color: #f0f0f0;
  z-index: 5;
  max-height: 250px;
  overflow-y: auto;
  padding: 5px;
  border: solid 5px #ddd;
}

.autocomplete {
  cursor: pointer;
  margin-right: 20px;
  border-bottom: solid 1px #ccc;
  color: #555;
}

.autocomplete:last-child {
  border-bottom: none;
}

.autocomplete:hover {
  color: black;
  background-color: white;
}

  /* expression related stuff with style-step.css */

