.super-steps-container {
  border-radius: 5px;
  position: relative;
}
.super-steps-container.contains-start {
  padding-top: 10px;
}
.super-steps-container.contains-end {
  height: 25px;
}
.super-steps-container.contains-none {
  height: 1px;
}
  .super-steps-container .selection-area-background {
    left: 27px;
    top: 0;
    bottom: 0;
    z-index: 1;
  }
  .super-steps-container .super-step {
    position: relative;
  }
    .super-step .group-stretch {
      height: 7px;
      position: absolute;
      top: 50%;
      margin-top: -3px;
      border-radius: 2px;
      left: 17px;
      width: 70px;
    }

  /* expression related stuff with style-step.css */
