body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 18px;
  margin-top: 0px;
}

#track {
  position: relative;
  margin-top: 60px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#track-html {
  position: absolute;
  top: 0px;
  z-index: 2;
}

#track-svg {
  position: absolute;
  top: 0px;
  z-index: 1;
}

.background {
  fill: #ffffff;
}


#selection {
  padding-top: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 4;
}
  .selection-info {
    height: 28px;
    float: left;
    margin-left: 50px;
    background-color: rgba(255,255,255,0.9);
  }
    .selection-color-border {
      border: solid 2px #666;
      height: 24px;
      width: 24px;
      float: left;
    }
      .selection-color {
        margin: 2px;
        height: 20px;
      }

    .selection-name {
      float: left;
      font-size: 17px;
      width: 199px;
      padding: 3px 2px 2px 2px;
      margin-left: 10px;
      border-width: 0 0 1px 0;
      border-color: #ccc;
      border-style: dotted;
      background-color: transparent;
    }

.step {
  position: absolute;
  border: solid 1px #ddd;
  margin: 0px;
}
  .step .result-container {
    float: left;
    border: solid 0px #ddd;
    border-right-width: 1px;
  }
    .step .result {
      color: #338;
      font-size: 16px;
      text-align: center;
      margin: 6px 4px 0px 4px;
      overflow: hidden;
    }

  .step .expression-container {
    float: left;
  }
    .step .expression {
      font-size: 14px;
      text-align: left;
      margin: 6px;
      float: left;
      padding: 2px 4px;
    }

  .step.selection {
    background-color: #efe;
    border-color: #aaa;
    z-index: 3;
  }
    .step.selection .result-container {
      border-color: #aaa;
    }


.history {
}
  .history text {
    text-anchor: middle;
    font-size: 10px;
  }

  .history .mouse {
    fill: #fff;
    opacity: 0;
  }


.group-stretch {
}
  .group-stretch .mouse {
    fill: #fff;
    opacity: 0;
  }

  .group-stretch.showing .background {
    stroke: #777;
  }
