body {
  padding: 0px;
  margin: 0px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 18px;
  margin-top: 0px;
}

#track {
  position: relative;
  margin-top: 60px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#track-html {
  position: absolute;
  top: 0px;
  z-index: 1;
}

#track-svg {
  position: absolute;
  top: 0px;
  z-index: 2;
}

.background {
  fill: transparent;
}


#selection {
  padding-top: 10px;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 4;
}
  .selection-info {
    height: 28px;
    float: left;
    margin-left: 50px;
    background-color: rgba(255,255,255,0.9);
  }
    .selection-color-border {
      float: left;
      border: solid 2px #555;
      height: 24px;
      width: 24px;
    }
      .selection-color {
        margin: 2px;
        height: 20px;
      }

    .selection-name {
      float: left;
      font-size: 17px;
      width: 199px;
      padding: 3px 2px 2px 2px;
      margin-left: 10px;
      border-width: 0 0 1px 0;
      border-color: #ccc;
      border-style: dotted;
      background-color: transparent;
    }

.step {
  position: absolute;
  margin: 0px;
}
.step-box {
  float: left;
  border: solid 1px #ddd;
  border-width: 1px 0 1px 0;
  padding-left: 40px;
}
  .step .result-container {
    float: left;
  }
    .step .result {
      color: #338;
      font-size: 16px;
      text-align: center;
      margin: 4px;
      margin-left: 7px;
      overflow: hidden;
      border: solid 2px #aaf;
      border-radius: 7px;
      padding: 2px;
      background-color: #eee;
    }

  .step .expression-container {
    float: left;
  }
    .step .expression {
      font-size: 14px;
      text-align: left;
      margin: 6px;
      float: left;
      padding: 2px 4px;
    }

  .step .selected-container {
    float: left;
    width: 60px;
  }

.step.active .step-box {
  background-color: #f9f9f9;
}

.history {
}
  .history text {
    text-anchor: middle;
    font-size: 10px;
  }

  .history .mouse {
    fill: #fff;
    opacity: 0;
  }


.stretch {
}
  .stretch .mouse {
    fill: #fff;
    opacity: 0;
  }

  .stretch.selected-area .background {
    stroke: #999;
  }
  .stretch.selection-selected .background {
    stroke: #ddd;
  }
