body {
  padding: 0;
  margin: 0;
  font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;
  background-color: #e9f3f7; /* change below and in style-steps.css */
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 18px;
  margin-top: 0;
}

#selection {
  padding-top: 10px;
  position: fixed;
  top: 0;
  left: 50px;
  z-index: 4;
}
  .selection-info {
    height: 28px;
    float: left;
    margin-left: 50px;
    background-color: rgba(255,255,255,0.9);
  }
    .selection-color-border {
      float: left;
      border: solid 2px #555;
      height: 24px;
      width: 24px;
    }
      .selection-color {
        margin: 2px;
        height: 20px;
      }


#track {
  float: left;
  position: relative;
  margin-top: 20px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#track-svg {
  float: left;
  position: relative;
  z-index: 2;
  width: 200px;
  margin-right: -70px;
  pointer-events: none;
}

#track-foreground-indices {
  float: left;
  position: relative;
  z-index: 2;
}

#track-html {
  float: left;
  z-index: 1;
  position: relative;
  padding-top: 40px;
  padding-bottom: 1000px;
}
  .selection-area-background {
    position: absolute;
    width: 40px;
    background-color: white;
  }
  #track-html > .selection-area-background {
    box-shadow: 1px 1px 1px #d3dde3;
    top: -10px;
    bottom: -10px;
    left: 27px;
  }

#right-side {
  width: 682px;
  position: fixed;
  right: 0;
}

#canvas {
  background-color: white;
  width: 640px;  /* update below and in global.js too */
  height: 400px;  /* update below and in global.js too */
  margin: 25px 10px 25px 17px;
  box-shadow: 1px 1px 1px #d3dde3;
}
/* update below in .result-canvas if the aspect changes */
#canvas canvas {
  width: 640px;  /* update above and in global.js too */
  height: 400px;  /* update above and in global.js too */
}

.clear {
  clear: both;
}

#control {
  margin: 20px 0 0 20px;
}


#environment {
  margin: 20px 0 0 20px;
}
