body {
  padding: 0;
  margin: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

h1 {
  font-size: 18px;
  margin-top: 0;
}

#selection {
  padding-top: 10px;
  position: fixed;
  top: 0;
  left: 50px;
  z-index: 4;
}
  .selection-info {
    height: 28px;
    float: left;
    margin-left: 50px;
    background-color: rgba(255,255,255,0.9);
  }
    .selection-color-border {
      float: left;
      border: solid 2px #555;
      height: 24px;
      width: 24px;
    }
      .selection-color {
        margin: 2px;
        height: 20px;
      }

    .selection-name {
      float: left;
      font-size: 17px;
      width: 199px;
      padding: 3px 2px 2px 2px;
      margin-left: 10px;
      border-width: 0 0 1px 0;
      border-color: #ccc;
      border-style: dotted;
      background-color: transparent;
    }


#track {
  float: left;
  position: relative;
  margin-top: 50px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#track-svg {
  float: left;
  position: relative;
  z-index: 2;
  width: 200px;
  height: 10000px;
  margin-right: -50px;
  pointer-events: none;
}

#track-html {
  float: left;
  z-index: 1;
  position: relative;
  border: solid 1px #ddd;
  border-width: 1px 0 0 0;
}

#right-side {
  float: left;
  width: 682px;
}

#canvas {
  border: solid 1px #ddd;
  width: 640px;  /* update below and in global.js too */
  height: 400px;  /* update below and in global.js too */
  margin: 25px 20px 20px 20px;
}
/* update below in .result-canvas if the aspect changes */
#canvas canvas {
  width: 640px;  /* update above and in global.js too */
  height: 400px;  /* update above and in global.js too */
}

.clear {
  clear: both;
}

.step {
  margin: 0;
}
.step-box {
  border: solid 1px #ddd;
  border-width: 0 1px 1px 0;
  background-color: #fff;
  width: 425px;
  position: relative;
}
  .step .matches-indicator {
    position: absolute;
    left: -20px;
    top: 50%;
    margin-top: -3px;
    border: solid 1px #ddd;
    border-radius: 5px;
    width: 5px;
    height: 5px;
    display: none;
  }

  .step .enable-disable {
    position: absolute;
    top: -1px;
    bottom: -1px;
    left: -4px;
    width: 9px;
    border: solid 1px #ddd;
    border-top-left-radius: 5px 15px;
    border-bottom-left-radius: 5px 15px;
    border-right: dotted 1px #ddd;
    background-color: #fff;
    z-index: 3;
    cursor: pointer;
  }
  .step .enable-disable.enabled-by-connected {
    border-color: #ddd;
    border-width: 2px;
    left: -5px;  /* 1 more left */
    border-right-style: solid;
    z-index: 4;
  }

    .step .enable-disable-outer-container {
      position: absolute;
      top: 50%;
      right: 0;
    }
      .step .enable-disable-outer {
        position: absolute;
        right: -8px;
        border-radius: 2px;
        border-color: transparent;
        background-color: transparent;
        width: 10px;
        height: 3px;
      }

  .step .selection-edge {
    position: absolute;
    top: 5px;
    bottom: 5px;
    width: 1px;
    left: 47px; /* update in selection.js, draw.js and below */
    background-color: transparent;
  }

  .step.hover .selection-edge {
    background-color: #ddd;
  }

  .step .expression-container {
    float: left;
    width: 190px;
    margin-right: 15px;
    margin-left: 53px; /* update above */
    position: relative;
    z-index: 4;
  }
    .step .expression {
      font-size: 14px;
      float: left;
      padding: 7px;
      width: 100%;
      min-height: 20px;
      border-width: 0;
      background-color: transparent;

      white-space: pre-wrap;
      line-height: 24px;
    }
    .step.canvas-result .expression {
      min-height: 32px;  /* also update .result-canvas canvas below */
    }

      .expression .reference-placeholder {
        display: inline-block;
        margin-right: 1px;
        font-size: 1px;
        height: 1px;
      }

  .step .reference {
    position: absolute;
    text-align: center;
    padding-top: 1px;
    padding-bottom: 1px;
    margin-top: -5px;
    margin-left: -1px;
    border: solid 2px #ddd;
    border-radius: 6px;
    height: 17px;
  }
  .step.active .reference {
    border-color: #ccc;
  }
    .reference-content-text {
      display: none;
    }
    .text-reference .reference-content-text {
      display: block;
    }

    .reference-content-canvas {
      display: none;
      text-align: center;
    }
    .canvas-reference .reference-content-canvas {
      display: block;
    }
    .reference-content-canvas canvas {
      width: 24px;
      height: 15px; /* also update .expression above */
      border: dotted 1px #ddd;
    }

  .step .result {
    position: absolute;
    right: 0;
    bottom: 0;
    top: 0;
    z-index: 2;
    width: 135px;
    background-color: white;
  }
    .result-content-text {
      display: none;
      position: absolute;
      right: 0;
      left: 0;
      bottom: 0;
      color: #338;
      font-size: 16px;
      text-align: right;
      margin: 0;
      padding: 3px 10px 4px 6px;
    }
    .text-result .result-content-text {
      display: block;
    }

    .result-content-canvas {
      display: none;
      position: absolute;
      right: 15px;
      left: 10px;
      top: 0px;
      bottom: 0px;
      text-align: center;
    }
    .canvas-result .result-content-canvas {
      display: block;
    }
    .result-content-canvas canvas {
      width: 72px;
      height: 45px; /* also update .expression above */
      border: dotted 1px #ddd;
      border-width: 0 1px 0 1px;
    }

    .result-border {
      position: absolute;
      left: 0;
      right: 0;
      bottom: -1px;
      border-style: solid;
      border-width: 0 0 2px 2px;
      height: 4px;
      border-color: #ddd;
    }

    .result-corner-container {
      position: absolute;
      right: -1px;
      bottom: -1px;
      overflow: hidden;
      width: 30px;
      height: 30px;
    }

    .result-corner {
      position: absolute;
      right: -15px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 15px solid transparent;
      border-right: 15px solid transparent;
      border-bottom: 12px solid #ddd;
      border-top-width: 0px;
      cursor: pointer;
    }

    .step .reference.reference-inserting {
      background-color: #ddd;
    }

    .step .reference.reference-absolute {
      border-radius: 0;
    }

    .step .reference.reference-color-1,
    .result.reference-color-1 .result-corner,
    .result.reference-color-1 .result-border {
      border-color: #00d1e0;
    }
    .step .reference.reference-color-2,
    .result.reference-color-2 .result-corner,
    .result.reference-color-2 .result-border {
      border-color: #22f;
    }
    .step .reference.reference-color-3,
    .result.reference-color-3 .result-corner,
    .result.reference-color-3 .result-border {
      border-color: #282;
    }
    .step .reference.reference-color-4,
    .result.reference-color-4 .result-corner,
    .result.reference-color-4 .result-border {
      border-color: #80f;
    }
    .step .reference.reference-color-5-or-more,
    .result.reference-color-5-or-more .result-corner,
    .result.reference-color-5-or-more .result-border {
      border-color: #ffe81a;
    }

    .step .reference.referenced-by-color,
    .result.referenced-by-color .result-corner,
    .result.referenced-by-color .result-border {
      border-color: #f0c;
    }

    .step .enable-disable-outer.reference-color-1 {
      border-color: #00d1e0;
      background-color: #00d1e0;
    }
    .step .enable-disable-outer.reference-color-2 {
      border-color: #22f;
      background-color: #22f;
    }
    .step .enable-disable-outer.reference-color-3 {
      border-color: #282;
      background-color: #282;
    }
    .step .enable-disable-outer.reference-color-4 {
      border-color: #80f;
      background-color: #80f;
    }
    .step .enable-disable-outer.reference-color-5-or-more {
      border-color: #ffe81a;
      background-color: #ffe81a;
    }
    .step .enable-disable-outer.referenced-by-color,
    .step .enable-disable.referenced-by-color {
      border-color: #f0c;
      z-index: 6;
    }
    .step .enable-disable.reference-color {
      border-color: #333;
      z-index: 6;
    }

.step.active .step-box,
.step.active .result,
.step.active .enable-disable {
  background-color: #eef;
}

.step.active .result-corner,
.step.active .result-border {
  border-color: #ccc;
}

/* reset result-corner border color */
.step.active .result-corner,
.result.reference-color-1 .result-corner,
.result.reference-color-2 .result-corner,
.result.reference-color-3 .result-corner,
.result.reference-color-4 .result-corner,
.result.reference-color-5-or-more .result-corner,
.result.referenced-by-color .result-corner {
  border-left-color: transparent;
  border-right-color: transparent;
}

.step.disabled .enable-disable {
  background-color: #ddd;
}
.step.force-enabled .enable-disable {
  background-color: #b4f4b6;
}
.step.force-disabled .enable-disable {
  background-color: #f5dcbc;
}

.step.disabled .expression-container,
.step.disabled .result-text {
  color: #ccc;
}


#environment {
  margin: 20px 0 0 20px;
}

.environment {
  float: left;
  border: solid 1px #ddd;
  margin-right: 20px;
  margin-bottom: 20px;
  min-width: 100px;
}

  .environment .name {
    position: relative;
    padding: 4px 7px;
    height: 17px;
    border-bottom: dotted 1px #ddd;
    z-index: 3;
  }

  .environment .result {
    position: relative;
    float: right;
    width: 100%;
    height: 46px;
    z-index: 2;
    background-color: white;
  }

  .environment .result-border {
    left: -1px;
  }

#add-environment {
  float: left;
  text-align: center;
  border: solid 1px #bbb;
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin-top: 23px;
  margin-left: 15px;
  color: #888;
  cursor: pointer;
}


.stretch {
  pointer-events: visiblePainted;
}
  .stretch .mouse {
    fill: #fff;
    opacity: 0;
  }

  .stretch.selected-area .background {
    stroke: #bbb;
  }
  .stretch.selection-selected .background {
    stroke: #ddd;
  }
  .stretch.selected-area.selection-focus .background {
    stroke: #555;
  }
