.step .reference.reference-color-1,
.result.reference-color-1 .result-corner,
.result.reference-color-1 .result-border,
.player-result.reference-color-1 .result-corner,
.player-result.reference-color-1 .result-border {
  border-color: #00d1e0;
}
.step .reference.reference-color-2,
.result.reference-color-2 .result-corner,
.result.reference-color-2 .result-border,
.player-result.reference-color-2 .result-corner,
.player-result.reference-color-2 .result-border {
  border-color: #22f;
}
.step .reference.reference-color-3,
.result.reference-color-3 .result-corner,
.result.reference-color-3 .result-border,
.player-result.reference-color-3 .result-corner,
.player-result.reference-color-3 .result-border {
  border-color: #282;
}
.step .reference.reference-color-4,
.result.reference-color-4 .result-corner,
.result.reference-color-4 .result-border,
.player-result.reference-color-4 .result-corner,
.player-result.reference-color-4 .result-border {
  border-color: #80f;
}
.step .reference.reference-color-5-or-more,
.result.reference-color-5-or-more .result-corner,
.result.reference-color-5-or-more .result-border,
.player-result.reference-color-5-or-more .result-corner,
.player-result.reference-color-5-or-more .result-border {
  border-color: #ffe81a;
}

.step .reference.referenced-by-color,
.step.active .result.referenced-by-color .result-corner,
.step.active .result.referenced-by-color .result-border,
.result.referenced-by-color .result-corner,
.result.referenced-by-color .result-border,
.player-result.referenced-by-color .result-corner,
.player-result.referenced-by-color .result-border {
  border-color: #f0c;
}

.step.active .result.target-color .result-corner,
.step.active .result.target-color .result-border,
.result.target-color .result-corner,
.result.target-color .result-border {
  border-color: #333;
}

.step .enable-disable-outer.reference-color-1 {
  background-color: #00d1e0;
}
.step .enable-disable-outer.reference-color-2 {
  background-color: #22f;
}
.step .enable-disable-outer.reference-color-3 {
  background-color: #282;
}
.step .enable-disable-outer.reference-color-4 {
  background-color: #80f;
}
.step .enable-disable-outer.reference-color-5-or-more {
  background-color: #ffe81a;
}

.step .enable-disable.referenced-by-color {
  border-color: #f0c;
  z-index: 6;
}
.step .enable-disable.target-color {
  border-color: #333;
  z-index: 6;
}

/* reset result-corner border color */
.step.active .result-corner,
.result.reference-color-1 .result-corner,
.result.reference-color-2 .result-corner,
.result.reference-color-3 .result-corner,
.result.reference-color-4 .result-corner,
.result.reference-color-5-or-more .result-corner,
.result.referenced-by-color .result-corner,
.player-result.reference-color-1 .result-corner,
.player-result.reference-color-2 .result-corner,
.player-result.reference-color-3 .result-corner,
.player-result.reference-color-4 .result-corner,
.player-result.reference-color-5-or-more .result-corner,
.player-result.referenced-by-color .result-corner,
.step.active .result.referenced-by-color .result-corner,
.result.target-color .result-corner,
.step.active .result.target-color .result-corner {
  border-left-color: transparent;
  border-right-color: transparent;
}
