body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.symbol .mouse {
  opacity: 0.0;
}


.token rect.tower {
  fill: #C0DCFF;
}

.token.barrier rect.tower {
  fill: #A9B8CC;
}

.token.empty rect.tower {
  fill: #D5E0EE;
}

.token text {
  text-anchor: middle;
}


.bar rect.top-bar {
  fill: #EBDEDE;
}

.bar rect.background-bar {
  fill: #fafafa;
}


.token.hovered rect.tower {
  fill: #A0FA2D;
}

.bar.hovered rect.top-bar {
  fill: #A0FA2D;
}

.bar.hovered rect.background-bar {
  fill: #A0FA2D;
  opacity: 0.4;
}

#panel {
  float: left;
  width: 150px;
  min-height: 700px;
  border-right: solid 2px #aaaaaa;
  padding: 10px;
  margin-right: 10px;
}

#workspace {
  float: left;
  padding: 10px;
  margin-left: 10px;
}

svg#string {
  cursor: pointer;
}
